<template>
	<div id="app">
		<vue-navigation-bar
			:options="navbarOptions"
			@vnb-item-clicked="vnbItemClicked"
		/>
		<router-view></router-view>
	</div>
</template>

<script>
const app = {
	name: 'app',
	components: {},

	methods: {
		// Handles clicks in the nav bar
		vnbItemClicked(text) {
			if (text === 'Go to my Gitlab') {
				window.location.href = 'https://gitlab.com/hdmsantander';
			} else if (text === 'Go to my Github') {
				window.location.href = 'https://github.com/hdmsantander';
			} else if (text === 'Mail me!') {
				window.location.href = 'mailto:hdmsantander@gmail.com';
			} else if (text === 'See the repo!') {
				window.location.href = 'https://gitlab.com/hdmsantander/vuedemo';
			}
		},
	},

	data: () => {
		return {
			navbarOptions: {
				elementId: 'main-navbar',
				isUsingVueRouter: true,
				mobileBreakpoint: 992,
				brandImagePath: './',
				brandImage: require('./assets/images/lockup-color.png'),
				brandImageAltText: 'brand-image',
				showBrandImageInMobilePopup: true,
				ariaLabelMainNav: 'Main Navigation',
				tooltipAnimationType: 'shift-away',
				menuOptionsLeft: [
					{
						type: 'link',
						text: 'Demos',
						subMenuOptions: [
							{
								type: 'link',
								text: 'Todo list',
								subText:
									'A simple todo list showcasing an API backend, with persistence',
								path: './todos',
							},
							{
								type: 'hr',
							},
							{
								type: 'link',
								text: 'Hobby list',
								subText:
									'A simple hobby list showcasing DOM interaction, without persistence',
								path: './hobbies',
							},
						],
					},
					{
						type: 'link',
						text: 'Contact',
						subMenuOptions: [
							{
								isLinkAction: true,
								type: 'link',
								text: 'Go to my Gitlab',
								path: './gitlab',
							},
							{
								isLinkAction: true,
								type: 'link',
								text: 'Go to my Github',
								path: './github',
							},
							{
								type: 'hr',
							},
							{
								isLinkAction: true,
								type: 'link',
								text: 'Mail me!',
								path: './mail',
								iconLeft: `<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -5 30 30" width="35" height="35" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
							<path d="M17.051,3.302H2.949c-0.866,0-1.567,0.702-1.567,1.567v10.184c0,0.865,0.701,1.568,1.567,1.568h14.102c0.865,0,1.566-0.703,1.566-1.568V4.869C18.617,4.003,17.916,3.302,17.051,3.302z M17.834,15.053c0,0.434-0.35,0.783-0.783,0.783H2.949c-0.433,0-0.784-0.35-0.784-0.783V4.869c0-0.433,0.351-0.784,0.784-0.784h14.102c0.434,0,0.783,0.351,0.783,0.784V15.053zM15.877,5.362L10,9.179L4.123,5.362C3.941,5.245,3.699,5.296,3.581,5.477C3.463,5.659,3.515,5.901,3.696,6.019L9.61,9.86C9.732,9.939,9.879,9.935,10,9.874c0.121,0.062,0.268,0.065,0.39-0.014l5.915-3.841c0.18-0.118,0.232-0.36,0.115-0.542C16.301,5.296,16.059,5.245,15.877,5.362z"></path>
						</svg>`,
							},
						],
					},
				],
				menuOptionsRight: [
					{
						isLinkAction: true,
						type: 'link',
						text: 'See the repo!',
						path: './repo',
						iconRight: '<i class="fa fa-long-arrow-right fa-fw"></i>',
					},
				],
			},
		};
	},
};

export default app;
</script>

<style scoped>
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
html {
	width: 100%;
	font-size: 18px;
	color: #333;
}
body {
	margin: 0;
	height: 100%;
	height: 100vh;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}
#app {
	height: 100%;
	height: 100vh;
	width: 100%;
	line-height: 1.5;
}
.code-text {
	background: #fff;
	border: 1px solid #ddd;
	padding: 10px 20px;
	border-radius: 4px;
	margin-bottom: 20px;
	text-align: center;
}
@media (min-width: 992px) {
	.code-text {
		margin-bottom: 0;
	}
}
.btn {
	text-transform: uppercase;
	font-weight: bold;
}
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}
@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
.main-content-section {
	padding: 45px 0;
	background: #eee;
	height: 95vh;
}
.main-navbar-section {
	background: #fff;
}
.vnb {
	font-family: 'Montserrat', sans-serif;
}
.vnb .button-red {
	background: #ff3b30;
}
.vnb .button-red:hover {
	background: #fc0d00;
}
.vnb__menu-options__option__button__icon svg {
	margin-top: -3px;
}
.vnb__popup__bottom__menu-options__option__link__icon svg {
	margin-top: -4px;
}
.vnb .custom-section-content {
	width: 100%;
}
@media (min-width: 568px) {
	.vnb .custom-section-content {
		width: 50%;
	}
}
@media (min-width: 992px) {
	.vnb .custom-section-content {
		width: 15%;
	}
}
@media (min-width: 1200px) {
	.vnb .custom-section-content {
		width: 20%;
	}
}
</style>
