<template>
	<div id="hobbies">
		<vue-headful
			title="Hobbies | Vue.js Demo"
			description="A list of hobbies"
		/>
		<h1>A list of hobbies</h1>
		<button v-on:click="addHobby">Add a new hobby</button>
		<input type="text" v-model="userInput" />
		<p
			v-bind:style="{
				color: lessThanThreeHobbies() ? 'red' : 'black',
				backgroundColor: lessThanThreeHobbies() ? 'black' : '',
			}"
		>
			{{ hobbyIntroductoryText }}
		</p>
		<p v-if="hobbyWasDeleted">A hobby was deleted!</p>
		<app-hobby
			v-for="hobby in hobbies"
			v-bind:hobby="hobby"
			v-bind:key="hobby"
			v-on:hobbyremoved="removeHobby($event)"
			>{{ hobby }}</app-hobby
		>
	</div>
</template>

<script>
import Hobby from './Hobby.vue';
export default {
	data() {
		return {
			hobbies: ['Fishing', 'Dancing', 'Programming'],
			hobbyIntroductoryText: 'These are my hobbies:',
			userInput: '',
			hobbyWasDeleted: false,
		};
	},
	methods: {
		removeHobby: function(hobby) {
			var position = this.hobbies.indexOf(hobby);
			this.hobbies.splice(position, 1);
			this.hobbyWasDeleted = true;
			this.updateHobbyIntroductoryText();
		},
		addHobby: function() {
			if (this.userInput.trim() !== '') {
				this.hobbies.push(this.userInput);
				this.updateHobbyIntroductoryText();
			}
		},
		lessThanThreeHobbies: function() {
			return this.hobbies.length < 3;
		},
		updateHobbyIntroductoryText: function() {
			if (this.hobbies.length >= 3) {
				this.hobbyIntroductoryText = 'These are my hobbies:';
			} else if (this.hobbies.length !== 0) {
				this.hobbyIntroductoryText = 'These are my few hobbies:';
			} else {
				this.hobbyIntroductoryText = 'I have no hobbies...';
			}
		},
	},
	components: {
		'app-hobby': Hobby,
	},
};
</script>

<style scoped>
* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

label {
	font-weight: bold;
	display: block;
	color: #494949;
}

input {
	padding: 8px;
	font: inherit;
	border: none;
	border-bottom: 2px solid #ccc;
	color: #494949;
	margin: 1rem;
}

input:focus {
	outline: none;
	border-color: #ff0062;
}

button {
	font: inherit;
	border: 1px solid #ff0062;
	color: white;
	padding: 1rem 2rem;
	border-radius: 5px;
	background: #ff0062;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button:hover,
button:active {
	background: #ff3482;
	border-color: #ff3482;
}

.card {
	padding: 1rem;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.inline-controls {
	display: flex;
}

.control {
	margin: 1rem;
}

#user-input,
#movie-list,
#filter {
	width: 50rem;
	max-width: 90%;
	margin: 2rem auto;
}

#movie-list {
	display: none;
	list-style: none;
	padding: 1rem;
}

#movie-list.visible {
	display: block;
}

#movie-list li {
	margin: 1rem;
	color: #ff0062;
	font-weight: bold;
	font-size: 1.5rem;
}
</style>
