<template>
	<div id="hobby">
		<li v-on:click="removeHobby">{{ hobby }}</li>
	</div>
</template>

<script>
export default {
	data() {
		return {};
	},
	methods: {
		removeHobby: function() {
			this.$emit('hobbyremoved', this.hobby);
		},
	},
	props: ['hobby'],
};
</script>

<style></style>
