<template>
	<div id="home">
		<vue-headful title="Home | Vue.js Demo" description="Home page" />
		<h1>Demo page for Vue js and Spring boot</h1>
		<p>
			This webpage is a demo of an implementation of a single page web app using
			Vue.js as front end and Spring Boot as back end.
		</p>
		<p>
			The project contains several examples which can be accessed through the
			Demo menu in the navegation bar. You'll also find my contact info in the
			Contact menu.
		</p>
		<p>
			The project is inspired in great part by the following articles and
			projects:
		</p>
		<ul>
			<li>
				Basic REST app using Vue.js and Spring Boot by
				<a
					href="https://github.com/moksamedia/okta-spring-boot-vue-crud-example"
					>Andrew Hughes</a
				>.
			</li>
			<li>
				Vue.js navigation bar by
				<a href="https://github.com/johndatserakis/vue-navigation-bar"
					>John Datserakis</a
				>
			</li>
		</ul>
		<p>Thanks!</p>
	</div>
</template>

<script>
export default {
	data() {
		return {};
	},
	components: {},
};
</script>

<style></style>
