/* eslint-disable no-unused-vars */
<template>
	<div id="todos">
		<vue-headful title="Todos | Vue.js Demo" description="A list of todos" />
		<h1 class="title">Todos</h1>
		<h1 class="email">{{ userEmail }}</h1>
		<section class="todoapp">
			<div v-if="loading">
				<h1 class="loading">Loading...</h1>
			</div>
			<div v-else>
				<header class="header">
					<input
						class="new-todo"
						autofocus
						autocomplete="off"
						:placeholder="this.inputPlaceholder"
						v-model="newTodo"
						@keyup.enter="addTodo"
					/>
				</header>
				<section class="main" v-show="todos.length" v-cloak>
					<input class="toggle-all" type="checkbox" v-model="allDone" />
					<ul class="todo-list">
						<li
							v-for="todo in filteredTodos"
							class="todo"
							:key="todo.id"
							:class="{
								completed: todo.completed,
								editing: todo == editedTodo,
							}"
						>
							<div class="view">
								<input
									class="toggle"
									type="checkbox"
									v-model="todo.completed"
									@change="completeTodo(todo)"
								/>
								<label @dblclick="editTodo(todo)">{{ todo.title }}</label>
								<button class="destroy" @click="removeTodo(todo)"></button>
							</div>
							<input
								class="edit"
								type="text"
								v-model="todo.title"
								v-todo-focus="todo == editedTodo"
								@blur="doneEdit(todo)"
								@keyup.enter="doneEdit(todo)"
								@keyup.esc="cancelEdit(todo)"
							/>
						</li>
					</ul>
				</section>
				<footer class="footer" v-show="todos.length" v-cloak>
					<span class="todo-count">
						<strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
					</span>
					<ul class="filters">
						<li>
							<a
								href="#/all"
								@click="setVisibility('all')"
								:class="{ selected: visibility == 'all' }"
								>All</a
							>
						</li>
						<li>
							<a
								href="#/active"
								@click="setVisibility('active')"
								:class="{ selected: visibility == 'active' }"
								>Active</a
							>
						</li>
						<li>
							<a
								href="#/completed"
								@click="setVisibility('completed')"
								:class="{ selected: visibility == 'completed' }"
								>Completed</a
							>
						</li>
					</ul>
					<button
						class="clear-completed"
						@click="removeCompleted"
						v-show="todos.length > remaining"
					>
						Clear completed
					</button>
				</footer>
			</div>
		</section>
		<div v-if="error" class="error" @click="handleErrorClick">
			ERROR: {{ this.error }}
		</div>
	</div>
</template>

<script>
import api from '../Api';

// visibility filters
let filters = {
	all: function(todos) {
		return todos;
	},
	active: function(todos) {
		return todos.filter(function(todo) {
			return !todo.completed;
		});
	},
	completed: function(todos) {
		return todos.filter(function(todo) {
			return todo.completed;
		});
	},
};

// app Vue instance
const Todos = {
	name: 'Todos',
	props: {
		activeUser: Object,
	},

	// app initial state
	data: function() {
		return {
			todos: [],
			newTodo: '',
			editedTodo: null,
			visibility: 'all',
			loading: true,
			error: null,
		};
	},

	mounted() {
		api
			.getAll()
			.then(response => {
				this.$log.debug('Data loaded: ', response.data);
				this.todos = response.data;
			})
			.catch(error => {
				this.$log.debug(error);
				this.error = 'Failed to load todos';
			})
			.finally(() => (this.loading = false));
	},

	// computed properties
	// http://vuejs.org/guide/computed.html
	computed: {
		filteredTodos: function() {
			return filters[this.visibility](this.todos);
		},
		remaining: function() {
			return filters.active(this.todos).length;
		},
		allDone: {
			get: function() {
				return this.remaining === 0;
			},
			set: function(value) {
				this.todos.forEach(function(todo) {
					todo.completed = value;
				});
			},
		},
		userEmail: function() {
			return this.activeUser ? this.activeUser.email : '';
		},
		inputPlaceholder: function() {
			return this.activeUser
				? this.activeUser.given_name + ', what needs to be done?'
				: 'What needs to be done?';
		},
	},

	filters: {
		pluralize: function(n) {
			return n === 1 ? 'item' : 'items';
		},
	},

	// methods that implement data logic.
	// note there's no DOM manipulation here at all.
	methods: {
		addTodo: function() {
			var value = this.newTodo && this.newTodo.trim();
			if (!value) {
				return;
			}

			api
				.createNew(value, false)
				.then(response => {
					this.$log.debug('New item created:', response);
					this.todos.push({
						id: response.data.id,
						title: value,
						completed: false,
					});
				})
				.catch(error => {
					this.$log.debug(error);
					this.error = 'Failed to add todo';
				});

			this.newTodo = '';
		},

		setVisibility: function(vis) {
			this.visibility = vis;
		},

		completeTodo(todo) {
			api
				.updateForId(todo.id, todo.title, todo.completed)
				.then(response => {
					this.$log.info('Item updated:', response.data);
				})
				.catch(error => {
					this.$log.debug(error);
					todo.completed = !todo.completed;
					this.error = 'Failed to update todo';
				});
		},
		removeTodo: function(todo) {
			// notice NOT using "=>" syntax
			api
				.removeForId(todo.id)
				.then(() => {
					// notice AM using "=>" syntax
					this.$log.debug('Item removed:', todo);
					this.todos.splice(this.todos.indexOf(todo), 1);
				})
				.catch(error => {
					this.$log.debug(error);
					this.error = 'Failed to remove todo';
				});
		},

		editTodo: function(todo) {
			this.beforeEditCache = todo.title;
			this.editedTodo = todo;
		},

		doneEdit: function(todo) {
			if (!this.editedTodo) {
				return;
			}
			this.$log.info('Item updated:', todo);
			api
				.updateForId(todo.id, todo.title.trim(), todo.completed)
				.then(response => {
					this.$log.info('Item updated:', response.data);
					this.editedTodo = null;
					todo.title = todo.title.trim();
				})
				.catch(error => {
					this.$log.debug(error);
					this.cancelEdit(todo);
					this.error = 'Failed to update todo';
				});

			if (!todo.title) {
				this.removeTodo(todo);
			}
		},

		cancelEdit: function(todo) {
			this.editedTodo = null;
			todo.title = this.beforeEditCache;
		},

		removeCompleted: function() {
			this.todos = filters.active(this.todos);
		},

		handleErrorClick: function() {
			this.error = null;
		},
	},

	// a custom directive to wait for the DOM to be updated
	// before focusing on the input field.
	// http://vuejs.org/guide/custom-directive.html
	directives: {
		'todo-focus': function(el, binding) {
			if (binding.value) {
				el.focus();
			}
		},
	},
};

export default Todos;
</script>

<style>
[v-cloak] {
	display: none;
}

html,
body {
	margin: 0;
	padding: 0;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font: 14px Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 850px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}

.todoapp {
	background: #fff;
	margin: 10px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

h1.title {
	width: 100%;
	font-size: 80px;
	margin-bottom: 20px;
	line-height: 80px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

h1.email {
	width: 100%;
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	margin-bottom: 20px;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

h1.loading {
	width: 100%;
	font-size: 40px;
	margin-bottom: 20px;
	line-height: 80px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.new-todo,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.new-todo {
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

label[for='toggle-all'] {
	display: none;
}

.toggle-all {
	position: absolute;
	top: -55px;
	left: -12px;
	width: 60px;
	height: 34px;
	text-align: center;
	border: none; /* Mobile Safari */
}

.toggle-all:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

.toggle-all:checked:before {
	color: #737373;
}

.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
	border-bottom: none;
}

.todo-list li.editing {
	border-bottom: none;
	padding: 0;
}

.todo-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 12px 16px;
	margin: 0 0 0 43px;
}

.todo-list li.editing .view {
	display: none;
}

.todo-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.todo-list li .toggle:after {
	position: absolute;
	color: #d9d9d9;
	top: 5px;
	left: 20px;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 19px;
	margin-bottom: 11px;
	content: '✔';
}

.todo-list li .toggle:checked:after {
	color: #09bb39;
}

.todo-list li label {
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todo-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.todo-list li .destroy:hover {
	color: #af5b5e;
}

.todo-list li .destroy:after {
	content: '×';
}

.todo-list li:hover .destroy {
	display: block;
}

.todo-list li .edit {
	display: none;
}

.todo-list li.editing:last-child {
	margin-bottom: -1px;
}

.footer {
	color: #777;
	padding: 10px 15px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
		0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
		0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.todo-count {
	float: left;
	text-align: left;
}

.todo-count strong {
	font-weight: 300;
}

.filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

.filters li {
	display: inline;
}

.filters li a {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.filters li a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed,
html .clear-completed:active {
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
}

.clear-completed:hover {
	text-decoration: underline;
}

.info {
	margin: 65px auto 0;
	color: #bfbfbf;
	font-size: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

.info p {
	line-height: 1;
}

.info a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}

.info a:hover {
	text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.toggle-all,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}

	.toggle-all {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}

@media (max-width: 430px) {
	.footer {
		height: 50px;
	}

	.filters {
		bottom: 10px;
	}
}

body {
	padding-top: 100px;
}

.error {
	font-size: 24px;
	font-weight: 400;
	color: white;
	text-align: center;
	border: 1px solid darkred;
	padding: 10px;
	background-color: #af5b5e;
	border-radius: 5px;
}

body {
	padding-top: 100px;
}

.logout-link {
	font-size: 18px;
	text-decoration: underline;
}
</style>
